.sh-block {
  grid-area: menu;
  padding: 15px 15px;
  box-shadow: 5px 0 30px rgba(0, 0, 0, 0.04);
  background-color: #ffffff;
  height: 100%;
  width: 290px;
  transition: 0.5s ease;
  &__three-elem {
    width: 100%;
    height: 70vh;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: space-between;
  }
  &__head {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
  }
  &__up-menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  &__down-menu {
    // bottom: 15px;
    // clear: both;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}

.up-menu {
  &__position {
    margin-left: -20px;
  }
  &__position {
    display: flex;
    gap: 15px;
    background-color: transparent;
    border: none;
    align-items: center;
  }
  &__position {
    cursor: pointer;
  }
  &__position:hover {
    color: rgb(92, 92, 92);
    .position__vertical-line {
      opacity: 0.5;
    }
  }
  &__position:focus {
    color: rgb(109, 109, 109);
    .position__vertical-line {
      opacity: 0.7;
    }
  }
}
.head {
  &__search {
    margin-left: auto;
  }
  &__close {
    background-color: transparent;
    border: none;
    display: none;
  }
}
.head__search {
  margin-left: auto;
}

.round__btn {
  cursor: pointer;
}

.down-menu__icons {
  display: flex;
  gap: 10px;
}
.down-menu__language-variants {
  display: flex;
  gap: 5px;
}

.position__vertical-line {
  opacity: 0;
}

.position__name {
  font-size: 16px;
}

.info__tph-number {
  font-size: 24px;
  font-weight: bold;
}

.vr__btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.vr__btn:hover {
  color: rgb(92, 92, 92);
}
.vr__btn:focus {
  color: rgb(109, 109, 109);
}
@media screen and (max-width: 320px) {
  .sh-block__down-menu {
    gap: 3px;
  }
  .info__tph-number {
    font-size: 22px;
  }
}

@media screen and (max-width: 1119px) {
  .sh-block {
    position: absolute;
    top: 0px;
    left: -320px;
    z-index: 100;
  }
  .head__close {
    display: block;
  }
}
