@import '../../node_modules/swiper/modules/pagination.min.css';
@import '../../node_modules/swiper/modules/navigation.min.css';
@import '../../node_modules/swiper/modules/pagination.scss';
@import '../../node_modules/swiper/swiper-bundle.min.css';

@import '../fonts/FontStyle.css';
@import './Up-Style.scss';
@import './Sw-Style.scss';
@import './Sw-Repair.scss';
@import './Sw-Price.scss';
@import '../scss/left-menu-style.scss';
@import '../scss/right-menu-feedback.scss';
@import '../scss/right-menu-call.scss';
@import '../scss/FAQ-style.scss';

@keyframes RBShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes RBHide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

body {
  font-size: 14px;
  font-family: 'TTLakes';
  margin: 0px;
  padding: 0px;
  background-color: #f8f8f8;
}

.around-btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  // background-color: rgba(21, 0, 255, 0.4);
  box-shadow: inset 0px 0px 15px rgb(255, 255, 255);
  background-blend-mode: overlay;
  z-index: 111111;
}
.round__btn {
  width: 42px;
  height: 42px;
  position: relative;
}
