.down-main {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    170deg,
    rgb(245, 245, 245) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  width: 100%;
  height: auto;
  grid-area: swiper-info;

  &__up-bord {
    width: auto;
    height: 42px;
    padding-left: 25px;
    padding-top: 15px;
    align-content: center;
    color: #7e7e82;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      182deg,
      rgba(245, 245, 245, 1) 0%,
      rgba(255, 255, 255, 1) 100%
    );
    border-top: 1px solid #d9fff5;
    padding: 5px 15px;
  }
}
.menu__hider {
  display: none;
}

.expand {
  transform: scaleY(1);
}

#bitmap-hide {
  display: none;
}
#bitmap-hide:checked ~ * .no-mobile__variants {
  max-height: 400px;
  transition: 0.5s ease;
}
#bitmap-hide:checked ~ * .content-lable::before {
  content: 'Скрыть';
}
#bitmap-hide:checked ~ * .expand {
  transform: scaleY(-1);
}
.content-lable::before {
  content: 'Показать все';
}

.swiper {
  /* width: 100%; */
  height: 120px;
  margin-top: 15px;
  padding-left: 15px;
  &-slide {
    background-color: white;
    padding: 10px;
    flex-shrink: 0;
    height: 52px;
    position: relative;
    /* transition-property: transform; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    width: 210px;
  }
  &-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #b3b3b3;
  }
  &__shadow {
    background: linear-gradient(
      90deg,
      rgba(245, 245, 245, 0) 0%,
      rgba(245, 245, 245, 0) 80%,
      rgba(255, 255, 255, 1) 100%
    );
    position: absolute;
    width: 100%;
    height: 80px;
    pointer-events: none;
    z-index: 100;
  }
}

.s-about__no-mobile {
  display: none;
  padding-left: 25px;
  .no-mobile__variants {
    display: flex;
    gap: 20px 30px;
    flex-wrap: wrap;
    padding-bottom: 10px;
    padding-top: 20px;
  }
  .no-mobile__menu-hider {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
}
.no-mobile__variants {
  overflow: hidden;
  max-height: 140px;
  transition: 0.5s ease;
}

.variants__elem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  width: 210px;
  height: 58px;
  padding: 0 5px;
}

@media (min-width: 768px) {
  .s-about__no-mobile {
    display: block;
  }
  .swiper {
    display: none;
  }
  .swiper-wrapper {
    display: none;
  }
  .JS-swiper {
    display: none;
  }
}
