.container {
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px auto;
  max-width: 1440px;

  display: block;
  grid-template-columns: 320px auto;
  grid-template-areas:
    'menu up-info'
    'menu swiper-info'
    'menu repair-info'
    'menu price-info'
    'menu FAQ';

  &__up-title {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
  }
}

.h-header {
  grid-area: up-info;
  height: 86px;
  border-bottom: 1px solid #d9fff5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;

  &__left-block {
    display: flex;
    align-items: center;
    padding-left: 4%;
    gap: 10%;
  }
  &__right-block {
    display: flex;
    align-items: center;
    padding-right: 4%;
    gap: 10%;
  }
  &__center-block {
    display: none;
    align-items: center;
    gap: 10px;
    margin-left: auto;
    margin-right: 10px;
  }
}

.menu {
  &__shadow {
    box-shadow: inset -28px 0px 15px -18px #ffffff;
    position: relative;
    top: 15px;
    width: 100%;
    height: 40px;
    pointer-events: none;
    margin-top: -25px;
  }
  &__scroll {
    overflow: auto;
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: 0.5%;
    height: 40px;
    padding-left: 2%;
    margin-top: -25px;
  }
  &__scroll::-webkit-scrollbar {
    display: none;
  }
}

.scroll {
  &__button {
    background-color: transparent;
    border: none;
    border-radius: 0.4em;
    padding: 0.5em 18px;
    color: #7e7e82;
    font-size: 16px;
  }
  &__button:focus {
    outline: 3px solid #a0ffe6;
  }
  &__button:focus {
    outline: 2px solid #b8ffec;
  }
}

.readMore {
  &__img {
    margin-top: 2px;
  }
  &__text {
    font-weight: bold;
  }
}

.repair-button {
  &__text {
    display: none;
  }
  &__text {
    white-space: nowrap;
    color: #1b1c21;
    font-size: 16px;
    font-weight: bold;
  }
  &__img {
    height: 40px;
  }
}

.search-button {
  &__text {
    display: none;
  }
  &__text {
    white-space: nowrap;
    color: #1b1c21;
    font-size: 16px;
    font-weight: bold;
  }
  &__img {
    height: 40px;
  }
}
.title {
  padding-bottom: 20px;
  &__content {
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 1.5%;
  }
  &__img-elem {
    max-width: 100%;
  }
}

.m-container__menu {
  height: 50px;
}

.content__readMore {
  display: flex;
  align-items: center;
  margin-left: -10px;
}

.text__expand {
  overflow: hidden;
  height: 120px;
  width: auto;
  transition: 0.5s ease;
}

#expand-toggle {
  display: none;
}

#expand-toggle:checked ~ * .text__expand {
  height: 220px;
  transform: 0.5s ease;
}
#expand-toggle:checked ~ * .expand-lable::before {
  content: 'Cкрыть';
}
.expand-lable::before {
  content: 'Читать дальше';
}

.right-block__divider {
  display: none;
}

.up-title__text-title {
  font-size: 28px;
  font-weight: bold;
}
.burger-button {
  background-color: transparent;
  border: none;
}
@media screen and (max-width: 320px) {
  #expand-toggle:checked ~ * .text__expand {
    height: 260px;
    transform: 0.5s ease;
  }
}
@media screen and (min-width: 768px) {
  .title {
    display: flex;

    &__img {
      margin-top: 10px;
      margin: 0px 2%;
      min-width: 47.5%;
    }
    &__content {
      height: 54%;
    }
    &__img-elem {
      width: 100%;
      border-radius: 2%;
    }
  }

  .left-block__logo {
    order: 1;
  }

  .h-header__center-block {
    display: flex;
  }
  .text__expand {
    height: 160px;
  }
  .menu {
    margin-bottom: 10px;
  }
  #expand-toggle:checked ~ * .text__expand {
    height: 220px;
    transform: 0.5s ease;
  }
}
@media screen and (min-width: 843px) {
  .content__readMore {
    display: none;
  }
  .text__expand {
    height: auto;
  }
}

@media screen and (min-width: 1120px) {
  .container {
    display: grid;
  }
  .h-header {
    background-color: transparent;
    justify-content: flex-end;
    width: 50%;
    margin-left: auto;

    &__center-block {
      display: none;
    }
    &__left-block {
      display: none;
    }
  }
  .right-block {
    &__repair-button {
      display: flex;
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      gap: 10px;
    }
    &__text {
      display: block;
    }
    &__search-button {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      gap: 10px;
      margin-right: 40px;
    }
  }

  .search-button__text {
    display: block;
  }

  .h-container__h-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
  }
  .scroll__button {
    margin-top: 10px;
  }

  .menu__scroll {
    overflow: visible;
    white-space: nowrap;
    flex-wrap: wrap;
    height: auto;
  }
}
